.custom-navbar {
	background-color: #008080;
}

.nav-text {
	color: white;
}
#dropdownMenuButton1:active {
	background-color: red !important;
}
#dropdownMenuButton1:hover {
	background-color: red !important;
}
.dropdown-item:active {
	background-color: red;
}
